body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 25em;
  margin: 0 auto;
}

.title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: chocolate;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group input {
  border: none;
  height: 40px;
  width: 250px;
  box-shadow: 0 0 7px black;
  border-radius: 5px 5px 0 0;
  padding: 0 10px;
}

.input-group input::placeholder {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.input-group button {
  height: 20px;
  background-color: black;
  border: 0;
  border-radius: 0 0 5px 5px;
  color: white;
  box-shadow: 0 0 7px black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: 0.3s ease-out transform;
}

.input-group button:hover, .input-group button:focus {
  transform: translateY(-5px);
  outline: none;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 25em;
  margin: 0 auto;
}

.data ul {
  padding: 0;
  width: 100%;
  list-style: none;
}

.data li {
  display: flex;
  justify-content: space-around;
}

.data li button {
  height: 30px;
}