<div class="container">
  <form>
    <p class="title">ToDo Test App</p>
    <div class="input-group">
      <input 
        #todo 
        class="input-group-input" 
        placeholder="Add ToDo" 
        name="todo" 
        ngModel/>
      <button (click)="addToDo(todo.value)" class="input-group-add">Add</button>
    </div>
  </form>
  <div class="data">
    <ul>
      <li *ngFor="let todo of todoList"><p>{{todo}}</p><button (click)="deleteItem(todo)">Finish</button></li>
    </ul>
  </div>
</div>